[submodule "pack/tpope/start/surround"]
	path = pack/tpope/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/tpope/start/repeat"]
	path = pack/tpope/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/tpope/start/speed-dating"]
	path = pack/tpope/start/speed-dating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "pack/justinmk/start/sneak"]
	path = pack/justinmk/start/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "pack/tpope/start/commentary"]
	path = pack/tpope/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/neovim/opt/lspconfig"]
	path = pack/neovim/opt/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/ionide/opt/Ionide"]
	path = pack/ionide/opt/Ionide
	url = https://github.com/ionide/Ionide-vim.git
